
<%= form_with(model: vegetable_record, local: true) do |form| %>
  <% if vegetable_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vegetable_record.errors.count, "error") %> prohibited this vegetable_record from being saved:</h2>

      <ul>
      <% vegetable_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label :品名%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :品種 %>
    <%= form.text_field :varaiety %>
  </div>

  <div class="field">
    <%= form.label :播種日 %>
    <%= form.date_field :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>