<p id="notice"><%= notice %></p>

<h1>栽培管理一覧</h1>

<table>
  <thead>
    <tr>
      <th>品目</th>
      <th>品種</th>
      <th>播種日</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @vegetable_records.each do |vegetable_record| %>
      <tr>
        <td><%= vegetable_record.name %></td>
        <td><%= vegetable_record.varaiety %></td>
        <td><%= vegetable_record.date %></td>
        <td><%= link_to '詳細', vegetable_record %></td>
        <td><%= link_to '編集', edit_vegetable_record_path(vegetable_record) %></td>
        <td><%= link_to '削除', vegetable_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h3>
<%= link_to '新規投稿', new_vegetable_record_path %></h3>
