

<!--以下を変更するユーザーデータへ-->
  <main>
  <div class="container px-5 px-sm-0" >
    <div class="error_explanation text-danger lead">
    </div>
      <div class="row">
        <div class="col-md-3">
       <h2>User info</h2>
          <table class="table">
            <tbody>
              <tr>
                <th>name</th>
                <th></th>
              </tr>
              <tr>
                <th>introduction</th>
                <th></th>
              </tr>
            </tbody>
          </table>
            </div>
        <div class="col-md-4 offset-md-1">
          <h2>投稿一覧</h2>
            <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th>ショップ名</th>
                  <th>説明</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <% @post_images.each do |post_image| %>
                  <tbody>
                    <td><%= link_to post_image.shop_name,post_image_path(post_image)%></td>
                    <td><%= post_image.caption %></td>
                 </tbody>
              <% end %>
            </table>
        </div>
                <div class="col-md-3 offset-md-1">
          <h2>投稿一覧</h2>
            <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th>ショップ名</th>
                  <th>説明</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <% @post_images.each do |post_image| %>
                  <tbody>
                    <td><%= link_to post_image.shop_name,post_image_path(post_image)%></td>
                    <td><%= post_image.caption %></td>
                 </tbody>
              <% end %>
              <% @vegetables.each do |vegetable| %>
                  <tbody>
                    <td><%= vegetable.name %></td>
                    <td><%= vegetable.date %></td>
                    <td><%= vegetable.body %></td>
                    <td><%= price = 10 * 5 %></td>
                 </tbody>
              <% end %>
            </table>
        </div>
<div class="day"><% now = Time.current %><br>
⇒3日後<%= now.since(3.days)%><br>
⇒3ヶ月後<%= now.since(3.month) %></div>