<h1>画像投稿フォーム</h1>
<%= form_with model: @post_image, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>野菜名</h4>
   <%= f.select :shop_name, [["01 ほうれんそう", "01 ほうれんそう"], ["02 だいこん", "02 だいこん"], ["03 キャベツ", "03 キャベツ"], ["04 はくさい", "04 はくさい"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"]], include_blank: "選択して下さい" %>
  <h4>品種名</h4>
   <%= f.select :shop_name, [["01 ほうれんそう", "01 ほうれんそう"], ["02 だいこん", "02 だいこん"], ["03 キャベツ", "03 キャベツ"], ["04 はくさい", "04 はくさい"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"], ["05 きゅうり", "05 きゅうり"]], include_blank: "選択して下さい" %>
  <h4>播種日</h4>
  <input type="date" name="example" min="2021-01-01" max="2022-12-31">
   <h4>地域名</h4>
   <%= f.select :shop_name, [["01 北海道", "01 北海道"], ["02 兵庫県", "02 兵庫県"]], include_blank: "選択して下さい" %>
  <h4>面積</h4>
  <%= f.number_field :caption %>
  <h4>説明</h4>
  <%= f.text_area :caption %>
  <%= f.submit '投稿' %>
<% end %>